:root {
  --Main-color: #212121;
  --Second-color: #757575;
  --White-color: #FFFFFF;
  --Color-accent: #2196F3;
  --Color-grey: #AFB1B8;
  --other-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--Main-color);
  background-color: var(--White-colorhite-color);
}

a {
  color: inherit;
}

a:visited {
  color: var(--Main-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  font-family: "Raleway" sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 0.86;
  color: var(--Main-color);
  margin-right: 93px;
}
.header__link:visited {
  color: var(--Main-color);
}

.nav--active:active {
  color: var(--Color-accent);
}

.header__link span {
  color: var(--Color-accent);
}

.header-contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-contact__item > a {
  font-size: 14px;
  font-weight: 500;
  color: var(--Second-color);
  text-decoration: none;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__mail-icon,
.header-contact__tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact__item :hover,
.header-contact__item :focus {
  color: var(--Color-accent);
}

.portfolio-active a {
  color: var(--Color-accent);
}

.header-portfolio-logo {
  padding-bottom: 25px;
}

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 344px;
}

.nav__item a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.17;
}

.nav__link {
  position: relative;
}

.nav__link.current::after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--Color-accent);
}

.nav--ctive a {
  color: var(--Color-accent);
}

.nav__item > a:hover,
.nav__item > a:focus {
  color: var(--Color-accent);
}

.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-heading {
  background-color: #C4C4C4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-heading__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-brd.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-brd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-heading__title {
  margin-right: auto;
  margin-left: auto;
  width: 695px;
  font-size: 44px;
  font-weight: 900;
  color: var(--White-color);
  line-height: 1.36;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.main-heading__button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  color: var(--White-color);
  background-color: var(--Color-accent);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.88;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-heading__button:hover, .main-heading__button:focus {
  background-color: var(--White-color);
  color: var(--Color-accent);
}

.main-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-info {
  padding-bottom: 0;
}

.main-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.main-info__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  padding-bottom: 10px;
}

.main-info__text {
  font-size: 14px;
  color: var(--Second-color);
  line-height: 1.71;
}

.section-team {
  background: var(--other-color);
}

.main-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.main-team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8 !important;
  background-color: var(--White-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-team__social-link:hover, .main-team__social-link__social-link:focus {
  background-color: var(--Color-accent);
  color: var(--White-color) !important;
}

.main-team__social-icon {
  fill: currentColor;
}

.main-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background: #FFFFFF;
}

.main-team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}

.main-team__text {
  font-size: 16px;
  color: var(--Second-color);
  line-height: 1.19;
  margin-bottom: 16px;
}

.main-team__img {
  margin-bottom: 30px;
}

.main-about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-about__item {
  position: relative;
}

.main-about__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  border-color: var(--Color-accent);
  color: var(--Color-accent);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--Color-grey);
}

.clients__item a:hover,
.clients__item a:focus {
  color: var(--Color-accent);
}

.clients__link:visited {
  color: var(--Color-grey);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  color: var(--White-color);
}
.footer__logo:visited {
  color: var(--White-color);
}

.footer__logo span {
  color: var(--Color-accent);
}

.footer__address {
  font-size: 14px;
  color: var(--White-color);
  line-height: 1.71;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-right: 70px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.foter-social__title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.1428571429;
  width: 116px;
  margin-bottom: 20px;
  color: var(--White-color);
  text-transform: uppercase;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--White-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--Color-accent);
}

.footer-social__icon {
  fill: var(--White-color);
}

.footer-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-mailing__form-input {
  width: 358px;
  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--White-color);
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mailing__form-input:hover, .footer-mailing__form-input:focus {
  border-color: var(--Color-accent);
}

.footer-mailing__text {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 20px;
  color: var(--White-color);
  text-transform: uppercase;
}

.footer-mailing__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  background-color: var(--Color-accent);
  color: var(--White-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mailing__btn:hover, .footer-mailing__btn:focus {
  color: var(--Color-accent);
  background-color: var(--White-color);
}

.footer-mailing__icon {
  fill: currentColor;
  margin-left: 10px;
}

.footer__contact {
  font-size: 14px;
  color: hsla(0deg, 0%, 100%, 0.6);
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--Color-accent);
}

.main-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--Second-color);
}

.main-filter-list-item-btn {
  background: #F5F4FA;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-filter-list-item-btn:hover {
  background: var(--Color-accent);
  color: var(--White-color);
}

.main-filter-list-item-btn--active {
  background: var(--Color-accent);
  color: var(--White-color);
}

.main-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--Second-color);
}

.main-filter-list-item-btn {
  background: #F5F4FA;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-filter-list-item-btn:hover {
  background: var(--Color-accent);
  color: var(--White-color);
}

.main-filter-list-item-btn--active {
  background: var(--Color-accent);
  color: var(--White-color);
}

.main-goods-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.main-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.main-goods-list-title {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4px;
}

.main-goods-list-text {
  width: 322px;
  height: 30px;
  font-size: 16px;
  color: var(--Second-color);
}

.main-goods-content-wrapper {
  position: relative;
  padding: 20px 0 20px 24px;
  border: 1px solid #eee;
  background: var(--White-color);
  z-index: 2;
}

.main-goods-wrapper-overlay {
  position: relative;
  overflow: hidden;
}

.main-goods-link {
  display: block;
  text-decoration: none;
}

.main-goods-link:hover,
.main-goods-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-goods-link:hover .main-goods-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-goods-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.main-goods-overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--White-color);
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: var(--White-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--White-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-btn-icon:hover {
  fill: var(--Color-accent);
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form-group {
  position: relative;
  margin-bottom: 10px;
  width: 448px;
}

.modal-form-lable {
  display: block;
  font-size: 12px;
  line-height: 0.8571428571;
  color: var(--Second-color);
  margin-bottom: 4px;
}

.modal-form-lable-textarea {
  margin-top: 24px;
}

.modal-form-group-textarea {
  margin-bottom: 6px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  cursor: pointer;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus, .modal-form-field:hover {
  outline: 1px solid #2196F3;
}

.modal-form-field:focus + .modal-form-svg,
.modal-form-field:hover + .modal-form-svg {
  fill: var(--Color-accent);
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-group-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked {
  background-color: var(--Color-accent);
  border-color: transparent;
  background-size: 11px 8px;
}

.modal-form-link:visited {
  color: var(--Color-accent);
}

.modal-form-textarea {
  height: 120px;
  padding: 12px;
  font-size: 12px;
  line-height: 1.1666666667;
  margin-bottom: 20px;
}

.modal-form-group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  background-color: var(--Color-accent);
  color: var(--White-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  border: 1px solid #FFFFFF;
}/*# sourceMappingURL=main.css.map */