.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__contact-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.footer__logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  color: var(--White-color);

  &:visited {
    color: var(--White-color);
  }
}

.footer__logo span {
  color: var(--Color-accent);
}
