.main-filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--Second-color);
}

.main-filter-list-item-btn {
    background: #F5F4FA;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-filter-list-item-btn:hover {
    background: var(--Color-accent);
    color: var(--White-color);
}

.main-filter-list-item-btn--active {
    background: var(--Color-accent);
    color: var(--White-color);
}

.main-filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--Second-color);
}

.main-filter-list-item-btn {
    background: #F5F4FA;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-filter-list-item-btn:hover {
    background: var(--Color-accent);
    color: var(--White-color);
}

.main-filter-list-item-btn--active {
    background: var(--Color-accent);
    color: var(--White-color);
}